/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

/*--------- calousel style-------  */
.slide-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.slide-pre-icon,
.slide-next-icon {
    filter: invert(0) !important;
}

/* elearning Institute style  */
.bg-elearning {
    background-color: #F4FAFD;
}

/* card slide style sheet  */
.card-slider-pre-icon,
.card-slider-next-icon {
    background-color: black;
}

/* all section bottom margin(large) style  */
header,
#popular-course-section,
#elearning-Institute-section,
#Register-section,
#success-full-student-section,
#card-slider,
#asked-qustion,
#companies {
    margin-bottom: 6rem;
}